@model MiPrimerMVC.Models.NewProjectModel
@{
    ViewBag.Title = "New Project";
}

<link rel="stylesheet" type="text/css" href="../../Content/signin.css">
<script src="../../Scripts/LoginBehavior.js"></script>
@using (Html.BeginForm("NewProject", "Synergy", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.ValidationSummary(true)
    <h2 class="form-signin-heading" align="center">Create a Project</h2>
    @Html.LabelFor(x => x.ProjectName)
    @Html.TextBoxFor(x => x.ProjectName, new { @class = "form-control", ViewData.TemplateInfo.FormattedModelValue, placeholder = "Some Project" })
    @Html.ValidationMessageFor(x => x.ProjectName)
    @Html.LabelFor(x => x.ProjectDescription)
    @Html.TextAreaFor(x => x.ProjectDescription, new { @class = "form-control", ViewData.TemplateInfo.FormattedModelValue, placeholder = "Type project description here." })
    @Html.ValidationMessageFor(x => x.ProjectDescription)
    <button type="submit" class="btn btn-lg btn-primary btn-block">Create Project!</button>
}